@page
@model Inspectral.Pages.Individualizaciones.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Individualizacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Individualizacion.IndividualizacionID" />
            <div class="form-group">
                <label asp-for="Individualizacion.Tanque" class="control-label"></label>
                <input asp-for="Individualizacion.Tanque" class="form-control" />
                <span asp-validation-for="Individualizacion.Tanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.Comprador" class="control-label"></label>
                <input asp-for="Individualizacion.Comprador" class="form-control" />
                <span asp-validation-for="Individualizacion.Comprador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.Fabricante" class="control-label"></label>
                <input asp-for="Individualizacion.Fabricante" class="form-control" />
                <span asp-validation-for="Individualizacion.Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.FechaFabricación" class="control-label"></label>
                <input asp-for="Individualizacion.FechaFabricación" class="form-control" />
                <span asp-validation-for="Individualizacion.FechaFabricación" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.Capacidad" class="control-label"></label>
                <input asp-for="Individualizacion.Capacidad" class="form-control" />
                <span asp-validation-for="Individualizacion.Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.Material" class="control-label"></label>
                <input asp-for="Individualizacion.Material" class="form-control" />
                <span asp-validation-for="Individualizacion.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.TipoTanque" class="control-label"></label>
                <input asp-for="Individualizacion.TipoTanque" class="form-control" />
                <span asp-validation-for="Individualizacion.TipoTanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.NormaReferencia" class="control-label"></label>
                <input asp-for="Individualizacion.NormaReferencia" class="form-control" />
                <span asp-validation-for="Individualizacion.NormaReferencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.FechaInicioInspeccion" class="control-label"></label>
                <input asp-for="Individualizacion.FechaInicioInspeccion" class="form-control" />
                <span asp-validation-for="Individualizacion.FechaInicioInspeccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.FechaTerminoInspeccion" class="control-label"></label>
                <input asp-for="Individualizacion.FechaTerminoInspeccion" class="form-control" />
                <span asp-validation-for="Individualizacion.FechaTerminoInspeccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.HoraInicio" class="control-label"></label>
                <input asp-for="Individualizacion.HoraInicio" class="form-control" />
                <span asp-validation-for="Individualizacion.HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individualizacion.HoraTermino" class="control-label"></label>
                <input asp-for="Individualizacion.HoraTermino" class="form-control" />
                <span asp-validation-for="Individualizacion.HoraTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
